body {
    background-color: green;
}

#login {
    text-align: center;
    margin-top: 15rem;
}

#login form input {
    text-indent: 10px;
    border-radius: 10px;
    margin-top: 1rem;
    height: 1.5rem;
}

#login form button {
    margin-top: 2rem;
}